*.iml
*.apk
*.aab
*.ap_
*.dex
*.class
*.log
bin/
gen/
out/
.gradle/
build/
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.navigation/
captures/
*.jks
*.keystore
.externalNativeBuild/
.cxx/